// header style
.header-composition {
    // max-width: 1440px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 0px;
    top: 0px;
    background: white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.5);
    position: relative;
}

.header-menu {
    display: flex;
    // justify-content: center;
    position: absolute;
    left: 530px;
}

.header-menu__list {
    top: 100px;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    &:nth-child(0) {
        margin-left: 0;
    }
}

.header-menu__item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    padding: 0px 0;
    margin: 10px 20px 10px 0;
    font-size: 14px;
    line-height: 17px;
    height: 40px;
    color: rgba(31, 32, 65, 0.5);
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu__link {

    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    color: rgba(31, 32, 65, 0.5);
}


@import "logo.scss";
@import "modules/button.scss";
